<h1 class='title'><%= @center.name %></h1>

<div class="centerdetails">
  <div class="centerimg"><%= cl_image_tag(@center.photo, :class => 'centerimg') %></div>
  <div>Country: <%= @center.country %></div>
  <div>City: <%= @center.city %></div>
  <div>Contact name: <%= @center.user.name %></div>
  <div>Contact email: <%= @center.user.email %></div>

  <div>Website: <%= link_to @center.website, target: :_blank %></div>
</div>
