<h1 class='title'>Dive details</h1>

<div class="divedetails">
  <h1><%= @scuba.title %></h1>
  <p><span class="key">Date:</span> <%= @scuba.date.strftime('%e %B %Y') %></p>
  <p><span class="key">Location:</span> <%= @scuba.location %></p>
  <p><span class="key">Duration:</span> <%= @scuba.duration %> minutes</p>
  <p><span class="key">Maximum Depth:</span> <%= @scuba.depth %> meters</p>
  <p><span class="key">Buddy:</span> <%= @scuba.buddy %></p>
  <p><span class="key">Notes:</span> <%= @scuba.notes %></p>
</div>

<div id="divemap"></div>

<%= link_to 'edit datas', edit_scuba_path %>
<script>
  $(document).ready(function() {
    let diveMap = L.map('divemap').setView([<%= @scuba.gps %>], 13);
    L.tileLayer('https://api.maptiler.com/maps/topographique/{z}/{x}/{y}.png?key=7RCtJcLXrvnPQmX2OfA1', {
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
    }).addTo(diveMap);

    var diveIcon = L.icon({
      iconUrl: '<%= image_path("diver.png") %>',

      iconSize:     [40, 40],
      iconAnchor:   [20, 20],
    });
    L.marker([<%= @scuba.gps %>], {icon: diveIcon}).addTo(diveMap);


    var circle = L.circle([<%= @scuba.gps %>], {
    color: '#2E0560',
    fillColor: '#2E0560',
    fillOpacity: 0.3,
    radius: 200
  }).addTo(diveMap);
});
</script>
