<!DOCTYPE html>
<html>
  <head>
    <title>Divr</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
    <div class="container">

      <nav>
        <p>divR</p>
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Videos', videos_path %></li>
          <li><%= link_to 'Diving Center', centers_path %></li>
          <li><%= link_to 'My Account', accounts_path %>
            <ul>
              <% if @current_user.present? %>
                <% if @current_user.pro? %>
                  <li><%= link_to 'Add a Center', new_center_path %></li>
                <% end %>
                <li><%= link_to 'Add Video', new_video_path %></li>
                <li><%= link_to 'Add Dive', new_scuba_path %></li>
                <li><%= link_to 'My Dives', scubas_path %></li>
                <li><%= link_to "Logout #{ @current_user.name }", login_path, :method => 'delete' %></li>
              <% else %>
                <li><%= link_to 'Sign up', new_user_path %></li>
                <li><%= link_to 'Login', login_path %></li>
              <% end %>
            </ul>
          </li>
        </ul>
      </nav>

      <div id="content">
        <%= yield %>
      </div>
      <div class="foot"></div>
      <footer>
        <a href="http://www.padi.com"><img src="<%= image_path('padi.png') %>" alt=""></a>
      </footer>
      </div>
    </body>
  </html>
